@font-face {
    font-family: Supreme;
    src: url(/Font/Supreme/SupremeLLTT-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Supreme;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #EBEADF;
}
#main{
    position: relative;
}
#nav{
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
    padding: 12px 0 15px 0;
    border-radius: 12px;
}
#nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 16px;
}
#nav a:hover{
    color: #5e5e5e;
    transition: 0.2s;
}
span{
    margin: 0 250px;
    font-size: 20px;
}
#heading{
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin: 0px 0px 15px 0px;
    padding: 0;
    color: #ffffffea;
    text-shadow: 1px 1px 1px 1px #5e5e5e;
}
#content{
    width: 100%;
    text-align: right;
    padding-right: 100px;
    position: absolute;
    top: 100px;
}
#content img{
    border-radius: 15px;
    
}
#img1{
    width: 400px;
    height: 600px;
    object-fit: cover;
    z-index: -1;
}
#img2{
    width: 300px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    right: 400px;
    top: 100px;
}
#img3{
    width: 280px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    right: 560px;
    top: 360px;
}
#nav, #heading{
    position: relative;
    z-index: 5;
}
#writing{
    padding-left: 90px;
    height: 100px;
    width: 400px;
    text-align: left;
    position: absolute;
    top: 350px;
}
#writing h3{
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
}
#writing p{
    font-size: 18px;
    color: #2e2e2ec2;
    margin-bottom: 10px;
}
footer{
    align-items: center;
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
    color: white;
    width: 90%;
    height: 60px;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(76, 76, 76);
    padding-top: 20px;
    position: absolute;
    top: 700px;
    bottom: 0;
    left: 70px;
    font-size: 12px;
}