*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --some-anchor;
}
.box{
    height: 50px;
    width: 100px;
    transition: all 0.4s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: 100;

}

.box1{
    background-color: #264653;
}
.box2{
    background-color: #2a9d8f;
    
}
.box3{
    background-color: #e9c46a
}
.box4{
    background-color: #f4a261;
}
.box5{
    background-color: #e76f51;
}
.anchor{
    background-color: #fefae0;
    position: absolute;
    left: anchor(left);
    top: anchor(top);
    bottom: anchor(bottom);
    right: anchor(right);
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
    pointer-events: none;
    

}
.box:hover{
     anchor-name: --some-anchor;
}